@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family:'Funnel Sans', Tahoma, Geneva, Verdana, sans-serif
}

 :root { /*criação de variáveis CSS */
    --cor-01: #06C;
    --cor-02: #000;
    --cor-03: #CCC;
    --cor-04: #FFF;
}

.container {
    max-width: 1000px; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container na página */
}

#cabecalho {
    background-color: var(--cor-02);
    margin-bottom: 30px;
}

#cabecalho .container {
    display: flex; /* Alinha os itens do cabeçalho em linha */
    justify-content: space-between; /* Espaça os itens do cabeçalho */
    align-items: center; /* Alinha os itens do cabeçalho verticalmente */
}

#cabecalho #logo {
    width: 30px;
}

#menu ul {
    display: flex; /* Alinha os itens do menu em linha */
}

#menu .submenu {
    display: none; /* Esconde o submenu */
    background-color: var(--cor-02); /* Cor de fundo do submenu */
    position: absolute; /* Permite posicionar o submenu em relação ao item pai */
    z-index: 1; /* Garante que o submenu fique acima de outros elementos */
}

#menu ul li a {
    color: var(--cor-04);
    text-decoration: none; /*tira o sublinhado padrão do navegador */
    display: block; /* Faz o link ocupar todo o espaço do elemento pai */
    padding: 20px 30px; /* Insere espaço entre as opções do menu */
    transition: all .3s linear; /* Transição suave para o hover */
}

#menu ul li a:hover{
    background-color: var(--cor-01); /* muda a cor ao passar o mouse */
}

#menu ul li:hover .submenu{
    display: block; /* Exibe o submenu ao passar o mouse */
}

.titulo {
    font-size: 40px;
    text-align: center; /* Alinha o texto ao centro */
    margin-bottom: 30px; /* Espaço abaixo do título */
}

#historia img{
    float: left; /* Faz a imagem flutuar à esquerda */
    width: 350px;
    border-radius: 30px; /* Bordas arredondadas */
    margin-right: 20px; /* Espaço à direita da imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

#historia p{
    margin-bottom: 15px;
    text-align: justify; /* Justifica o texto */
}

#fotos #galeria {
    display: grid; /* Usa grid para organizar as fotos */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 colunas de largura igual */
    gap: 20px; /* Espaço entre as colunas */
}

#fotos #galeria img {
    display: block; /* Faz a imagem ocupar todo o espaço do elemento pai */
    width: 100%; /* Largura total da coluna que está inserida*/
    transition: all 0.2s linear; /* Transição suave para o hover */
}

#fotos #galeria img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

#videos #galeria {
    display: grid; /* Usa grid para organizar os videos */
    grid-template-columns: 1fr 1fr; /* 2 colunas de largura igual */
    gap: 20px; /* Espaço entre as colunas */
}

#rodape {
    background-color: var(--cor-02);
    color: var(--cor-04);
    padding: 20px; /* Espaço interno do rodapé */
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}

#rodape a{
    color: var(--cor-03);
}

#rodape a:hover{
    color: var(--cor-01); /* Muda a cor do link ao passar o mouse */
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}   